<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>EveryPage</title>
</head>

<body>
  <h1>This is the official site for EveryPage</h1>
  <h2>Further content will be added soon</h2>
</body>

</html>